@(ProductForm: Form[Product] , warehouses: List[Warehouse])

@import helper._
@layout("Crear Producto"){
    <h1>Crear Nuevo Producto</h1>


    <div class="col-lg-12">
        <div class="block">

            <div class="block-body">


                @helper.form(action= routes.ProductsController.save(), 'enctype -> "multipart/form-data"){

        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Código</label>
            <div class="col-sm-9">
            @helper.inputText(ProductForm("code"),'class->"form-control form-control-success",'_label ->"",'placeholder->"Codigo",'max->"99999999",'type->"number",'required->"true" )
            </div>
        </div>
        <div class="form-group row">
             <label class="col-sm-3 form-control-label">Nombre</label>
              <div class="col-sm-9">
               @helper.inputText(ProductForm("name"),'class->"form-control",'_label ->"",'placeholder->"Nombre",'required->"true")
              </div>
        </div>
        <div class="form-group row">
              <label class="col-sm-3 form-control-label">Marca</label>
               <div class="col-sm-9">
               @helper.inputText(ProductForm("brand"),'class->"form-control",'_label ->"",'placeholder->"Marca")
            </div>
        </div>
         <div class="form-group row">
              <label class="col-sm-3 form-control-label">Proveedor</label>
              <div class="col-sm-9">
              @helper.inputText(ProductForm("provider"),'class->"form-control",'_label ->"",'placeholder->"Proveedor")
            </div>
         </div>
        <div class="form-group row">
               <label class="col-sm-3 form-control-label">Numero de productos</label>
               <div class="col-sm-9">
               @helper.inputText(ProductForm("stock"),'class->"form-control",'_label ->"",'placeholder->"Numero de inventario",'max->"99999999",'type->"number",'required->"true")

               </div>
          </div>
                    <div class="form-group row">

                        <label class="col-sm-3 form-control-label">Seleccione la bodega</label>
                        <div class="form-group col-sm-9 select">

                                <select  name="warehouse" class="form-control">
                                @for(warehouse <- warehouses) {
                                    <option  value="@warehouse.id">@warehouse.id - @warehouse.name</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Subir imagen de producto</label>
                        <div class="col-sm-9">
                        @helper.inputFile(ProductForm("file"),'class->"custom-file",'_label ->"",'placeholder->"Imagen")

                        </div>
                    </div>

                 <button type="submit" class="btn btn-success btn-block">Crear</button>

                }
            </div>
        </div>
    </div>
    </





}