@(products: List[Product])

@layout("Productos"){
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-1">
            </div>

            <div class="col-lg-9">
                <div class="block margin-bottom-sm">

                    @if( products.length != 0) {
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Productos</h3>
                    </div>

                    <table class="table    table-hover table-responsive">
        <thead >
            <tr>
                <th scope="col">Código </th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Numero Unidades</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products) {
            @if(product.stock == 0) {
            <tr class="alert alert-danger" role="alert">



                    <td >@product.code</td>
                    <td>@product.name</td>
                    <td>@product.brand</td>
                    <td>@product.provider</td>
                    <td>@product.stock</td>
                    <td><a href="/products/@product.id" class="btn btn-secondary">Detalles </a></td>
                    <td><a href="/products/edit/@product.id" class="btn btn-success">Editar </a></td>
                    <td><a href="@routes.ProductsController.destroy(product.id)" class="btn btn-danger">Eliminar</a></td>



                }else {

                    <th scope="row">@product.code</th>
                    <td>@product.name</td>
                    <td>@product.brand</td>
                    <td>@product.provider</td>
                    <td>@product.stock</td>
                    <td><a href="/products/@product.id" class="btn btn-secondary">Detalles </a></td>
                    <td><a href="/products/edit/@product.id" class="btn btn-success">Editar </a></td>
                    <td><a href="@routes.ProductsController.destroy(product.id)" class="btn btn-danger">Eliminar</a></td>

                }
            </tr>
        }
        </tbody>
                    </table>
                    }else {
                        <div class="card-header  align-items-center " style="width: 100%">
                            <h3 class="h4">  No hay productos para mostrar
                            </h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>







}
