@(product: Product)
@layout(product.name){
   <div class="container-fluid text-secondary">


       @if(product.stock ==0){
           <div class="p-3 mb-2 bg-danger text-white">
                  Este producto se encuentra agotado en stock
           </div>
       }

      <div class="row">
<div>
    <h1 class="text-primary">    @product.name   </h1>
</div>


          <div class="col-lg-3">
         <img src=@routes.Assets.versioned("images/products/")@product.image>
          </div>
         <div class="col-lg-6"><strong class="text-secondary">Detalles</strong>
             <br>
            <ul class="list-unstyled"><br>
               <li>Marca : @product.brand </li><br>
               <li> Proveedor : @product.provider  </li><br>
               <li>Cantidad en stock : @product.stock</li><br>
               <li>Fecha Actualizacion : @product.date.format("dd/MM/YYYY - HH:mm")</li><br>

            </ul>

             <a href="/products/edit/@product.id" class="btn btn-success">Editar </a>
         </div>




      </div>
   </div>
}