

@layout("Paper Web"){
    <div class="container">


        <div class="jumbotron">
            <h1 class="display-3">Paper Web</h1>
            <hr class="my-4">

            <p class="lead">Administrador de bodegas y productos</p>

            </p>
        </div>

    </div>
}