@(products : List[Product], warehouses : List[Warehouse])


@layout("Paper Web"){
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="block margin-bottom-sm">
            @if(products.length != 0) {

                <div class="card-header d-flex align-items-center">

                    <h3 class="h4">Inventario</h3>
                </div>
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Código </th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Numero Unidades en inventario</th>
                            <th scope="col">Bodega</th>
                            <th scope="col">Fecha actualización</th>
                        </tr>
                    </thead>
                    <tbody>


                    @for(warehouse <- warehouses) {
                        @for(product <- products) {
                            @if(warehouse.id == product.warehouse) {
                                @if(product.stock != 0) {
                                    <tr>
                                        <th scope="row">@product.code</th>
                                        <td>@product.name</td>
                                        <td>@product.stock</td>
                                        <td>@warehouse.id - @warehouse.name</td>
                                        <td>@product.date.format("dd/MM/YYYY - HH:mm")</td>

                                    </tr>
                                }
                            }
                        }
                    }

                    </tbody>
                </table>
            } else {
                <div class="card-header d-flex align-items-center">

                    <h3 class="h4">No existe inventario en ninguna bodega</h3>
                </div>

            }
            </div>
        </div>
    </div>
  <!--  web: target/universal/stage/bin/paperweb -Dhttp.port=$PORT $PLAY_OPTS-->

</div>






}