@(wareHouseForm: Form[Warehouse])

@layout("Crear Bodega"){
    <h1>Crear Nueva Bodega</h1>

    <div class="col-lg-12">
        <div class="block">

            <div class="block-body">
    @helper.form(action= routes.WarehousesController.save() ){
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Nombre</label>
            <div class="col-sm-9">
            @helper.inputText(wareHouseForm("name"),'class->"form-control form-control-success",'_label ->"",'placeholder->"Nombre",'required->"true" )
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Direccion </label>
            <div class="col-sm-9">
            @helper.inputText(wareHouseForm("address"),'class->"form-control form-control-success",'_label ->"",'placeholder->"Direccion",'required->"true" )
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Encargado</label>
            <div class="col-sm-9">
            @helper.inputText(wareHouseForm("admin"),'class->"form-control form-control-success",'_label ->"",'placeholder->"Encargado",'required->"true" )

            </div>
        </div>
        <button type="submit" class="btn btn-success btn-block">Crear</button>


    }
            </div>
        </div>
    </div>

}