@(warehouses: List[Warehouse])
    @layout("Bodegas") {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">


                </div>
                <div class="col-lg-12">
                    <div class="block margin-bottom-sm">

                    @if( warehouses.length != 0) {
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Bodegas</h3>
                        </div>

                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Código </th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Direccion</th>
                                    <th scope="col">Responsable </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(warehouse <- warehouses) {
                                <tr>
                                    <td>@warehouse.id</td>
                                    <td>@warehouse.name</td>
                                    <td>@warehouse.address</td>
                                    <td>@warehouse.admin</td>
                                    <td><a href="/warehouses/@warehouse.id" class="btn btn-primary">Inventario </a></td>
                                    <td><a href="/warehouses/edit/@warehouse.id" class="btn btn-success">Editar </a></td>
                                    <td><a href="/warehouses/delete/@warehouse.id" class="btn btn-danger">Eliminar </a></td>

                                </tr>
                            }

                            </tbody>
                        </table>
                    }else {

                        <div class="card-header d-flex align-items-center">

                            <h3 class="h4">No existen bodegas creadas </h3>
                        </div>
                    }

                    </div>


                    </div>
                </div>
            </div>



    }