@(  products : List[Product], warehouse: Warehouse )
@layout("Bodegas") {



    <h1 class=""> Inventario en : @warehouse.name </h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Código de venta producto</th>
                <th scope="col">Nombre producto</th>
                <th scope="col">Numero de unidades en bodega</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        @for(product <- products){
         @if(warehouse.id == product.warehouse) {

             <tr>
                 <td>@product.code</td>
                 <td>@product.name</td>
                 <td>@product.stock</td>
                 <td><a href="/products/edit/@product.id" class="btn btn-primary">Editar numero en stock </a></td>

             </tr>

}}
        </tbody>
    </table>


}











